<div class="row">
  <div class="col-lg-9">
    <br>
    <h1>Vehicles</h1>
    <br>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Vehicle ID</th>
        <th scope="col">Registration Number</th>
        <th scope="col">Customer</th>
        <th scope="col">Status</th>
      </tr>
      </thead>
      <tbody>
      {{#each vehicles as |vehicle|}}
        <tr>
          <th>{{vehicle.id}}</th>
          <td>{{vehicle.vehicleId}}</td>
          <td>{{vehicle.regNum}}</td>
          <td>{{vehicle.customer.name}}</td>
          <td>
            {{#if (eq vehicle.status 'connected')}}
              <span class="badge badge-success">{{vehicle.status}}</span>
            {{else}}
              <span class="badge badge-danger">{{vehicle.status}}</span>
            {{/if}}

          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
  <div class="col-lg-3 form-group">
    <br>
    <label for="">by <b>Customer</b></label>
    <select class="form-control" id="customerSelect" onchange={{action 'selectCustomer' value="target.value"}}>
      <option value="">Select Customer</option>
      {{#each customers as |customer|}}
        <option value={{customer.id}}>{{customer.name}}</option>
      {{/each}}
    </select>
    <br>
    <label for="">by <b>Status</b></label>
    <select class="form-control" id="statusSelect" onchange={{action 'selectStatus' value="target.value"}}>
      <option value="">Select Status</option>
      <option value="connected">Connected</option>
      <option value="disconnected">Disconnected</option>
    </select>
    <br>
    <button class="btn btn-primary" {{action (route-action 'refresh' customerId status)}}>Filter</button>
  </div>
</div>