<div class="row">
  <div class="col-lg-10">
    <br>
    <h1>Customers</h1>
    <br>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Address</th>
      </tr>
      </thead>
      <tbody>
      {{#each customers as |customer|}}
        <tr>
          <th>{{customer.id}}</th>
          <td>{{customer.firstName}}</td>
          <td>{{customer.lastName}}</td>
          <td>{{customer.address}}</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
  <div class="col-lg-2">
    <br>
  </div>
</div>