
<div class="container">

  <div class="row">

    <div class="col-lg-2">
      <h1 class="my-4">Alten</h1>
      <div class="list-group">
        <li class="list-group-item">{{#link-to 'index.customers'}}Customers{{/link-to}}</li>
        <li class="list-group-item">{{#link-to 'index.vehicles'}}Vehicles{{/link-to}}</li>
      </div>
    </div>

    <div class="col-lg-10">
      <div class="container">
        <div class="row">
          {{outlet}}
        </div>
      </div>



    </div>

  </div>

</div>
